:root{
    --font-family: 'Poppins', sans-serif;
}
body{
    font-family: var(--font-family);
    background: hsl(0, 0%, 98%);
}
.container{
    max-width: 1200px;
    width: 99%;
    margin: 0;
}
.heading{
    font-family: var(--font-family);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 1em;
    margin: 0 0 0 12em;
    color: rgb(133, 131, 131);
}
span{
    font-family: var(--font-family);
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}
.description{
    width: 500px;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    margin: 1em 1em 1em 36em;
    color: rgb(133, 131, 131);
}
.card-container{
    max-width: 1100px;
    width:90%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1em 0 1em 19em;
}

.card-1{
    position: relative;
    top: 6em;
    width: 25%;
    margin: .5em;
    border-radius: 6px;
    background: white;
    border-top: 4px solid hsl(180, 62%, 55%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.card-2{
    width: 25%;
    margin: .5em;
    border-radius: 6px;
    background: white;
    border-top: 4px solid hsl(0, 78%, 62%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.card-3{
    position: relative;
    top: 12em;
    right: 17em;
    width: 25%;
    margin: .5em;
    border-radius: 6px;
    background: white;
    border-top: 4px solid hsl(34, 97%, 64%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.card-4{
    position: relative;
    top: 6em;
    right: 17em;
    width: 25%;
    margin: .5em;
    border-radius: 6px;
    background: white;
    border-top: 4px solid hsl(212, 86%, 64%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.card-heading{
    text-align: left;
    font-size: .9rem;
    padding: 1em 1em .5em 1em;
    font-weight: bold;
    margin: 0;
}
.card-desc{
    text-align: left;
    font-size: .7rem;
    padding: 0 0 0 1.4em;
    font-weight: 400;
    margin: 0 .5em 0 0;
    color: rgb(133, 131, 131);
}
img{
    width: 18%;
    float: right;
    margin: 1.5em;
}
footer{
    font-family: var(--font-family);
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15em 0 0 1em;
}
.attribution h6{
    text-align: center;
    font-size: .9rem;
    margin: 0;
    padding: .2em;
}
.attribution a{
    text-decoration: none;
    color: hsl(212, 86%, 64%);
}
@media (max-width:1100px){
    .heading{
        margin: 0 auto;
    }
    .description{
        margin: 1em auto;
    }
    .card-container{
        max-width: 1000px;
        width:98%;
        margin: 1em 0 1em 8em;
    }
    .card-1{
        position: relative;
        top: 6em;
        width: 45%;
    }
    .card-2{
        width: 45%;
    }
    .card-3{
        position: relative;
        top: 12em;
        right: 15em;
        width: 45%;
    }
    .card-4{
        position: relative;
        top: 6em;
        right: 15em;
        width: 45%;
    }
    .card-desc{
        padding: 0 0 1em 1.4em;
        margin: 0 1em 0 0;
    }
    .attribution h6{
        text-align: center;
        font-size: .9rem;
        margin: 0 auto;
        padding: .2em;
    }
}
@media (max-width:900px){
    .heading{
        margin: 0 auto;
    }
    .description{
        font-size: .85rem;
        font-weight: 400;
        margin: 1em auto;
    }
    .card-container{
        width: 90%;
        margin: 2em auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    .card-1, .card-3, .card-4{
        position: static;
        width: 50%;
    }
    .card-2{
        width: 50%;
    }
    footer{
        margin: 0 -2em 0 0;
    }
}
@media (max-width: 650px){
    .description{
        width: 250px;
    }
    .card-container{
        margin: 1em auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-1{
        position: static;
        width: 85%;
        margin: 1em 1em .5em 1em;
    }
    .card-3, .card-4{
        position: static;
        width: 85%;
        margin: .5em 1em .5em 1em;
    }
    .card-2{
        width: 85%;
        margin: .5em 1em .5em 1em;
    }
   .card-desc{
        padding: 0 0 1em 1.4em;
        margin: 0 6em 0 0;
    }
    img{
        width: 15%;
    }
    footer{
        margin: 0 0 0 1em;
    }
    
}